course-resources-and-documents/Projects/uhub-sapi-database-section/uhub-sapi-database-section/src/main/mule/register-covid-case.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	 
    <db:config name="Uhub_Database_Config" doc:name="Database Config" doc:id="01966878-b56c-4d84-9f35-1ad362d943db" >
		<db:oracle-connection host="oracle-98615-0.cloudclusters.net" port="18026" user="uhubdevuser" password="uhubdevuser123" instance="xe"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9c909284-2b11-47ff-b9a2-78bad2b9217c" basePath="covid" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="post:\cases:application\json:uhub-sapi-config">
		<http:listener doc:name="Listener" doc:id="6bd441f0-c551-4066-a857-d4bce847b4fa" config-ref="HTTP_Listener_config" path="v1/cases" allowedMethods="POST">
			<http:response statusCode="#[vars.statusCode]" />
		</http:listener>
		<ee:transform doc:name="Set correlationId And transactionId" doc:id="980dc8f7-09db-4d58-9de7-81516c3f27a9">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="correlationId"><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="transactionId"><![CDATA[attributes.headers.'x-transaction-id' default uuid()]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="3d8d8884-b781-4170-b3f3-7df7e4c3e2e2" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started update covid case flow", payload: #[payload]' />
		<ee:transform doc:name="Prepare Covid Case Payload" doc:id="e75affbd-93bb-4ce2-8983-248059b14687" >
			<ee:message >
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="covidPayload" ><![CDATA[%dw 2.0
output application/java
var currentDate = now() as String { format: "YYYY-MM-dd" }
var owner = "UHIS"
---
{
	source: payload.source,
	case_type: payload.caseType,
	first_name: payload.firstName,
	last_name: payload.lastName,
	phone: payload.phone,
	email: payload.email,
	date_of_birth: payload.dateOfBirth as String { format: "YYYY-MM-dd" },
	national_id: payload.nationalID,
	national_id_type: payload.nationalIDType,
	street_address: payload.address.streetAddress,
	city: payload.address.city,
	state: upper(payload.address.state),
	postal: payload.address.postal,
	country: payload.address.country,
	create_date: currentDate,
	update_date: currentDate,
	create_by: owner,
	update_by: owner
}
]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<db:stored-procedure doc:name="Insert Covid Case Stored procedure" doc:id="ae7c0d24-a5cb-4ee2-9a04-dd3df65c511a" config-ref="Uhub_Database_Config">
			<db:sql><![CDATA[{call insert_covid_master(:source, :case_type, :first_name, :last_name, :phone, :email, :date_of_birth, :national_id, :national_id_type, :street_address, :city, :state, :postal, :country, :create_date, :update_date, :create_by, :update_by, :case_id)}]]></db:sql>
			<db:input-parameters><![CDATA[#[vars.covidPayload]]]></db:input-parameters>
			<db:output-parameters>
				<db:output-parameter key="case_id" type="INTEGER" />
			</db:output-parameters>
		</db:stored-procedure>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Prepare Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  caseID: payload.case_id as String
}]]></ee:set-payload>
            </ee:message>
			<ee:variables >
				<ee:set-variable variableName="statusCode" ><![CDATA[201]]></ee:set-variable>
			</ee:variables>
        </ee:transform>
		<logger level="INFO" doc:name="End Log" doc:id="7af762f2-4d2f-4685-8004-05a53ecf4ea9" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: Completed register covid case flow, payload: #[payload]"' />
    
</flow>
	<!-- <flow name="register-covid-caseFlow" doc:id="e52817f9-07bc-46ce-9af8-c7daf92bcfc0" >
		<logger level="INFO" doc:name="Logger" doc:id="968b06a6-5ce6-4dcf-996f-4f507989419d" />
		<db:select doc:name="Select CASE_ID" doc:id="774b05de-05db-4c12-9ade-ee432034b228" config-ref="Uhub_Database_Config">
			<db:sql><![CDATA[select max(case_id) as case_id from CVD_CASE_MASTER where email = :email]]></db:sql>
			<db:input-parameters><![CDATA[#[{
	email: vars.covidPayload.email
	}]]]></db:input-parameters>
		</db:select>
		<db:insert doc:name="Insert Covid Case Master" doc:id="0e0b2c9b-9f07-4a46-9058-3b93101fd949" config-ref="Uhub_Database_Config" queryTimeout="60000" queryTimeoutUnit="MILLISECONDS" autoGenerateKeys="true">
			<reconnect />
			<db:sql><![CDATA[insert into cvd_case_master(source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_address, city, state, postal, country, create_date, update_date, create_by, update_by) values(:source, :case_type, :first_name, :last_name, :phone, :email, TO_DATE(:date_of_birth, 'YYYY-MM-DD'), :national_id, :national_id_type, :street_address, :city, :state, :postal, :country, TO_DATE(:create_date, 'YYYY-MM-DD'), TO_DATE(:update_date, 'YYYY-MM-DD'), :create_by, :update_by)]]></db:sql>
			<db:input-parameters><![CDATA[#[vars.covidPayload]]]></db:input-parameters>
			<db:auto-generated-keys-column-names>
				<db:auto-generated-keys-column-name value="CASE_ID" />
			</db:auto-generated-keys-column-names>
		</db:insert>
	</flow> -->
	</mule>
